In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [ ]:
train_data=pd.read_csv('/content/kc_house_train_data.csv')
train_data

               id             date  ...  sqft_living15  sqft_lot15
0      7129300520  20141013T000000  ...           1340        5650
1      6414100192  20141209T000000  ...           1690        7639
2      5631500400  20150225T000000  ...           2720        8062
3      2487200875  20141209T000000  ...           1360        5000
4      1954400510  20150218T000000  ...           1800        7503
...           ...              ...  ...            ...         ...
17379  7936000429  20150326T000000  ...           2050        6200
17380  2997800021  20150219T000000  ...           1330        1265
17381   263000018  20140521T000000  ...           1530        1509
17382   291310100  20150116T000000  ...           1410        1287
17383  1523300157  20141015T000000  ...           1020        1357

[17384 rows x 21 columns]

In [ ]:
test_data=pd.read_csv('/content/kc_house_test_data.csv')
test_data
dtype_dict = {'bathrooms':float, 'waterfront':int, 'sqft_above':int, 'sqft_living15':float, 'grade':int, 'yr_renovated':int, 'price':float, 'bedrooms':float, 'zipcode':str, 'long':float, 'sqft_lot15':float, 'sqft_living':float, 'floors':str, 'condition':int, 'lat':float, 'date':str, 'sqft_basement':int, 'yr_built':int, 'id':str, 'sqft_lot':int, 'view':int}

In [ ]:
x_train=train_data[['sqft_living']]
y_train=train_data[['price']]

In [ ]:
model=LinearRegression()

In [ ]:
model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
model.predict([[2650]])

array([[700074.84594751]])

In [ ]:
def simple_linear_regression(input_feature, output):
    x_sum=input_feature.sum()
    y_sum=output.sum()
    n=len(input_feature)
    sum_xy = sum(output*input_feature)
    sum_xx=sum(input_feature**2)
    slope=(sum_xy-((x_sum*y_sum)/n))/(sum_xx-((x_sum**2)/n))
    intercept=(y_sum/n)-slope*((x_sum)/n)
    return(intercept, slope)

In [ ]:
simple_linear_regression(train_data.sqft_living,train_data.price)

(-47116.07907289418, 281.9588396303426)

In [ ]:
def get_regression_predictions(input_feature, intercept, slope):
    predicted_output=slope*input_feature+intercept
    return(predicted_output)

In [ ]:
get_regression_predictions(train_data.sqft_living,-47116.07, 281.95)

0        332982.95
1        724893.45
2        217383.45
3        552903.95
4        473957.95
           ...
17379    989926.45
17380    369636.45
17381    431665.45
17382    451401.95
17383    287870.95
Name: sqft_living, Length: 17384, dtype: float64

In [ ]:
def get_residual_sum_of_squares(input_feature, output, intercept,slope):
    RSS=(output-(slope*input_feature+intercept))**2
    return(RSS)

In [ ]:
rss=get_residual_sum_of_squares(train_data.sqft_living,train_data.price,-47116.07907289418,281.9588396303426)
rss

0        4.057098e+09
1        1.946531e+10
2        1.001555e+08
3        9.697671e+09
4        6.959769e+09
             ...
17379    4.217275e+09
17380    2.333256e+10
17381    5.895643e+08
17382    1.614484e+07
17383    7.143303e+09
Length: 17384, dtype: float64

In [ ]:
rss.sum()

1201918354177283.0

In [ ]:
def inverse_regression_predictions(output, intercept, slope):
    estimated_input=(output-intercept)/slope
    return(estimated_input)

In [ ]:
inverse_regression_predictions(800000,-47116.07, 281.95)

3004.490406100372

## for bed room

In [ ]:
simple_linear_regression(train_data.bedrooms,train_data.price)

(109473.1776229596, 127588.95293398784)

In [ ]:
t=get_residual_sum_of_squares(test_data.bedrooms,test_data.price,109473.1776229596, 127588.95293398784)
t

0       3.321143e+10
1       9.102899e+08
2       6.720540e+10
3       7.789821e+09
4       1.828414e+09
            ...
4224    1.159961e+11
4225    7.280768e+10
4226    8.361254e+07
4227    4.832478e+10
4228    1.402496e+09
Length: 4229, dtype: float64

In [ ]:
t.sum()

493364585960300.9